header {
    margin-bottom: 85px;
}

#container {
    /* border: 3px solid red; */
    width: 90vw;
}     

.card_p {
    font-size: 0.9rem;
}

#music_container {
    border: solid 3px #343a40;
    border-radius: 10px;
    padding-bottom: 15px;
}

#song_container {
    height: 100%;
}

#playlist_container {
}

.songTile {
    margin: 5px 0px;
    min-width: 30%;/*20%;*/
    border: solid 1px #343a40;
}

.spotify {
    color: darkgreen;
}

.youtube {
    color: red;
}

#video-placeholder {
    visibility: hidden;
    display: none;
}

#playlistForm {
    max-width: 400px;
    border: solid 3px #343a40;
    border-radius: 10px;
    padding: 20px;
}

#songForm {
    max-width: 400px;
    border: solid 3px #343a40;
    border-radius: 10px;
    padding: 20px;
}

.userForms {
    max-width: 400px;
    margin-bottom: 50px;
    border: solid 3px #343a40;
    border-radius: 10px;
    padding: 20px;
}

.userForms #p {
    word-wrap: break-word;
}

.userForms #ul {
    word-wrap: break-word;
}

footer {
    margin-top: 30px;
    height: 6vh;
    width: 100%;
}

#uhasselt-kuleuven {
    height: 30px;
}