header {
    padding-bottom: 30px;
}

#container {
    /* border: 3px solid red; */
    width: 90vw;
    /* height: 70vh; */
    /* background-color: red; */
}     

.card_p {
    font-size: 0.9rem;
}

#music_container {
    /* min-height: 70vh; */
    /* max-height: 70vh; */
    border: solid 3px #343a40;
    border-radius: 10px;
}

#song_container {
    padding: 0px 20px;
    height: 100%;
    /* overflow: hidden; */
}

#playlist_container {

}

.songTile {
    margin: 5px;
    min-width: 20%;
}

.spotify {
    color: darkgreen;
}

.youtube {
    color: red;
}

#video-placeholder {
    visibility: hidden;
}

#playlistForm {
    max-width: 400px;
    border: solid 3px #343a40;
    border-radius: 10px;
    padding: 20px;
}

#songForm {
    max-width: 400px;
    border: solid 3px #343a40;
    border-radius: 10px;
    padding: 20px;
}

.userForms {
    max-width: 400px;
    margin-bottom: 50px;
    border: solid 3px #343a40;
    border-radius: 10px;
    padding: 20px;
}

/* footer {
    position: fixed;
    height: 8vh;
    bottom: 0;
    width: 100%;
} */