header {
    padding-bottom: 30px;
}

#container {
    border: 3px solid red;
    width: 90vw;
    /* height: 70vh; */
    /* background-color: red; */
}     

.card_p {
    font-size: 0.9rem;
}

#music_container {
    min-height: 70vh;
    max-height: 70vh;
}
#song_container {
    padding:20px;
    height: 100%;
    overflow: hidden;
}

#playlist_container {

}

.songTile {
    margin: 5px;
    min-width: 20%;
}

.spotify {
    color: darkgreen;
}

.youtube {
    color: red;
}

#video-placeholder {
    visibility: hidden;
}

#playlistForm {
   width:400px;
}

#songForm {
    width:400px;
    border:2px solid green;
}

#userAuthForm {
    width:400px;
    border:2px solid green;
}

.userForms {
    margin-top:50px;
}

/* footer {
    position: fixed;
    height: 8vh;
    bottom: 0;
    width: 100%;
} */